h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bee {
    bottom: 3em;
    right: 3em;
    width: 4em;
    height: 3em;
    border-radius: 50%;
    background-color: yellow;
}

.bee:hover {
    background-color: lightgoldenrodyellow;
}