h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bee {
    bottom: 3em;
    right: 3em;
    width: 4em;
    height: 3em;
    border-radius: 50%;
    background-color: yellow;
}

.bee:hover {
    background-color: lightgoldenrodyellow;
}

.blue-flower {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(146, 211, 255);
    top: 100px;
    left: 300px;
}